.withShadow {
    position: relative;
    margin: 10px 0;
    transition: 0.2s ease-out;
}

.withShadow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 0px 50px rgba(226, 173, 3, 0.15);
    border-radius: 30px;
}

.withShadow:hover {
    box-shadow: 0px 0px 50px 10px rgba(226, 173, 3, 0.15);
}